.navbar-brand {
    line-height:20px;
    padding-top:2px;
    padding-bottom:2px;
    padding-right: 100px;
}
 
.navbar-brand small {
    display:block;
    font-size:20px;
}

body {
    background-image: url(/static/image/paper5.jpg);
    background-repeat: repeat;
    background-color: #f8f1f1;
}

#pleasure-read{
  color: #f8f1f1;
  z-index: 100;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
  background-color: #FEFAE0;
  color: #545E31;
/* Top left text */
  position: fixed;
  top: 55px;
  left: 0px;
  padding-left: 49px;
  padding-right: 48px;
}


.navbar-brand{
  color: #FEFAE0;
}

.navbookscolor {
  background-color: #606C38;
}

.btn {
  background-color: #545E31;
  color: #FEFAE0;
}

#search-link {
  color: #545E31;
  background-color: #FEFAE0;
}

.alert {
  text-align: center;
  top: 100px;
  z-index: 1000;  
}

thead{
  color: #32200B;
}

#books-img {
  margin-top: 55px;
  width: auto;
  height: 100%;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

#col2 {
  text-align: left;
}

#books-hor {
  margin-top: 55px;
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

/* for big screens */
@media screen and (min-width: 769px) {
  #books-hor,
  .image {
    display: none;
  }
  form {
    margin-top: 100px;
  }
  #col2 {
    margin-top: 65px;
    padding-left: 20px;
    position: sticky;
  }
  #pleasure-read{
    padding-left: 41px;
    padding-right: 42px;
  }
}

/*for small screens */
@media screen and (max-width: 768px) {
    #books-img,
    .image {
      display: none;
    }
    #col2 {
      margin-top: 300px;
      padding-left: 5px;
      position: sticky; 
      padding-bottom: 30px;
    }
  }

.url-link a{
  color: #545E31;
  text-decoration: underline;
  line-height: 2;
  font-style: italic;
}


main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.footer {
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#BC6C25;
    color: white;
    text-align: center;
}